# Ignore config files
src/instance/app.cfg
app.cfg
reload_from_neo4j/reload.properties

BUILD
# mounted BUILD/VERSION file
src/BUILD
src/VERSION

# Ignore copied over folders
docker/uuid-api/src
docker/uuid-api/log
docker/uuid-api/conf
docker/hubmap-mysql/uuids-dev.sql

# Ignore __pycache__ directories in any path
**/__pycache__

# log files in any path
**/*.log

# Rotated log files
**/*.log*

.project
.pydevproject

test/*.sh

*~

log/*
!log/README.md
