# Ignore config files
src/instance/app.cfg

# Ignore copied over folders
docker/uuid-api/src
docker/uuid-api/log
docker/uuid-api/conf
docker/hubmap-mysql/uuids-dev.sql

# Ignore __pycache__ directories in any path
**/__pycache__

# Ignore log but keep the log directory
**/*.log

.project
.pydevproject

test/*.sh

*~
