#mac ds store
.DS_Store

# Ignore config files
src/instance/*
!src/instance/*.cfg.example
app.cfg

reload_from_neo4j/reload.properties

# Ignore docker env file
hubmap-docker/.env

# Ignore virtual environments
env/
venv/

BUILD
# mounted BUILD/VERSION file
src/BUILD
src/VERSION

# Ignore docker copied files/folders
docker/uuid-api/BUILD
docker/uuid-api/VERSION
docker/uuid-api/src
docker/uuid-api/log
docker/*.env
!docker/example.env

hubmap-docker/uuid-api/BUILD
hubmap-docker/uuid-api/VERSION
hubmap-docker/uuid-api/src
hubmap-docker/uuid-api/log

sennet-docker/uuid-api/BUILD
sennet-docker/uuid-api/VERSION
sennet-docker/uuid-api/src
sennet-docker/uuid-api/log

# Ignore backup files created by MySQL Workbench
sql/*.bak

# Ignore __pycache__ directories in any path
**/__pycache__

# log files in any path
**/*.log

# Rotated log files
**/*.log*

.project
.pydevproject

test/*.sh

*~

log/*
!log/README.md

.idea/
.vscode/
