# Ignore Dockerfile
Dockerfile

# Ignore itself
.dockerignore

# Ignore README
README.md

# Ignore the flask instance folder
src/instance

# Ignore Python cache directories
__pycache__/
**/__pycache__/
