requests>=2.25.1
Flask>=1.1.2

# Higher version would cause issue
mysql-connector-python==8.0.16

py2neo>=2021.0.1

# The commons to be used for local development
file:../../commons#egg=hubmap-commons --no-index
